@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 
}
html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body{
  color: #888888;
	height: 100%;
	overflow-x: hidden;
  font-family: 'Poppins', sans-serif !important;

}



